<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegServ</servlet-name>
        <servlet-class>ServletHandler.RegServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogServ</servlet-name>
        <servlet-class>ServletHandler.LogServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>function</servlet-name>
        <servlet-class>ServletHandler.function</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServ</servlet-name>
        <url-pattern>/RegServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogServ</servlet-name>
        <url-pattern>/LogServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>function</servlet-name>
        <url-pattern>/function</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         C:\Users\hp\Documents\SelfProjects\CSE Projects\Drivers\JAVA server side\apache\webapps\data\
      </param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
